<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <appSettings>
    <add key="FtpServerUri" value="ftp://localhost/Test/in" />
    
    <add key="SftpServerUri" value="16.187.145.25" />
    <add key="SftpServerUserName" value="gufei" />
    <add key="SftpServerPassword" value="Huan8376" />
    <add key="SftpServerPort" value="22" />

    <add key="PollingInterval" value="10" />

  </appSettings>
  
  <!--<configSections>
    <section name="FtpServer" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SftpServer" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <FtpServer>
    <add key="host_name" value="127.0.0.1"/>
    <add key="user_name" value="test"/>
    <add key="password" value="123"/>
    <add key="uri" value="ftp://localhost/Test/in"/>

  </FtpServer>
  
  <SftpServer>
    <add key="host_name" value="127.0.0.1"/>
    <add key="user_name" value="test"/>
    <add key="password" value="123"/>
  </SftpServer>-->
  
</configuration>
